
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    border:2px solid black;
}

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    font-family: 'Roboto Mono', monospace;
}

.main-content {
    margin:0 5%;
}
/* Nav Start */
nav {
    text-align: center;
}

.buttons {
    display:inline-block;
    width:10%;
    text-align:center;
    color:white;
    border-radius:10px;
    padding:5px;
    margin:5%;
}

.buttons.visit {
    background-color:#FF764E;
}

.buttons.about {
    background-color:#5ED3EB;
}

.buttons.involve {
    background-color:#FFCD69;
}
/* Nav End */
/* Header Start */
.head {
    display: inline-block;
}
.head.img img {
    width:20%;
    border-radius:50%;
}

.head.title {
    margin:5%;
    margin-left: 10%;
}

h1 {
    font-size:5rem;
    font-family: 'Chelsea Market', cursive;
    margin:0 0 5%;
}
.head p {
    margin:5% 0;
}
/* Header End */
/* Content Start */
#content {
    background-color:#DDB9A3;
    color:white;
    text-align:center;
    padding: 5px;
    margin-bottom:5%;
}
/* Content End */
/* Mid Start */
.mid {
    text-align:center;
    margin:0 auto;
    font-size:1rem;
}

.mid img {
    width:20%;
}

.mid p {
    margin:0 35%;
    margin-bottom: 5%;
}
/* Mid End */
/* Footer Start */
footer {
    background-color: #F9E7DC;
}
footer img {
    height: 50vh;
    width:100%;
}